<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="mstIp" value="localhost" />
    <add key="ipsIp" value="localhost" />
    <add key="mstCertName" value="MSTCert" />
    <add key="ipsCertName" value="IPSCert" />
    <add key="processMonitorThreadSpeelPeriod" value="5000" />
    <add key="garbageThreadSleepPeriod" value="30000" />
    <add key="garbageDeletePeriod" value="300000" />
  </appSettings>
</configuration>