<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="mstIp" value="localhost" />
    <add key="ipsIp" value="localhost" />
    <add key="xmlIp" value="localhost"/>
    <add key="mstCertName" value="MSTCert" />
    <add key="ipsCertName" value="IPSCert" />
    <add key="xmlName" value="Blacklist.xml" />
  </appSettings>
</configuration>