<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="mstIp" value="10.1.212.180" />
    <add key="ipsIp" value="10.1.212.185" />
    <add key="mstCertName" value="MSTCert" />
    <add key="ipsCertName" value="IPSCert" />
  </appSettings>
</configuration>